
Description=""
Author="OPENTEXT\smithani"
UpdatedUtc=#2023-07-20 12:41:22#
System=false
PackageName="Snap"
Country="USA"
BatchNamePattern="LabReport"
BatchPriority=50
Departments=""
ScanType="Automatic"
ScanPageSize="Letter"
ScanDetectPageSize=true
ScanResolution="300"
ScanBrightness=-3
ScanContrast=0
ScanOrientation="Portrait"
ImageColorFormat="ColorLossless"
ScanCustomTags=""
ScannerLock=false
ImportedImageFormat="Keep"
SplitPdf=true
DocBreakKind="None"
DocFixedPageCount=1
DocDropBlankPages=false
DocBlankPageTolerance=0
DocDropPatchCodePages=false
DocDropEmptyNodes=false
DocTypes="DNA Stool Analysis"
DocBreakBarcodeTypes="1&#44;2&#44;3&#44;9&#44;10&#44;11&#44;16&#44;31&#44;41&#44;42&#44;43"
DefaultDocType="DNA Stool Analysis"
DocRequireClassification=false
DocRequireValid=false
DetectBarcodes=false
BarcodeTypes="1&#44;2&#44;3&#44;9&#44;10&#44;11&#44;16&#44;31&#44;41&#44;42&#44;43"
OnNewPageIP=false
ImageProfile="Lab Report Information Extraction"
OnNewPageClassify=true
OnNewPageExtract=true
AutoLearningMode="ClassifyExtract"
RecognitionProject="InformationExtraction"
FullPageOcr=true
ExportType="Custom"
PdfGeneration="OnePerDocument"
AutoFormatExcludeImages=false
FtpConnection=""
IAServerConnection=""
BatchCaptureFlow=""
ExportProfile="Lab Report Information Extraction"
